/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #111827;
  line-height: 1.6;
}

/* NAVBAR */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #0f172a;
}

.navbar h2 {
  color: #ffffff;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
}

.navbar ul li a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: #ffffff;
}

.hero h1 {
  font-size: 42px;
}

.hero h1 span {
  color: #38bdf8;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.btn {
  margin-top: 25px;
  padding: 12px 28px;
  background-color: #38bdf8;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
}

.btn:hover {
  background-color: #0ea5e9;
}

/* SECTIONS */
section {
  padding: 60px 80px;
}

#about,
#skills,
#projects,
#contact {
  background-color: #f8fafc;
  margin: 30px 60px;
  border-radius: 14px;
}

/* SKILLS */
.skills-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.skills-list span {
  background-color: #e5e7eb;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
}

/* PROJECTS */
.project-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background-color: #ffffff;
}

/* CONTACT */
#contact a {
  color: #2563eb;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    margin-top: 10px;
  }

  section {
    padding: 40px 25px;
  }

  #about,
  #skills,
  #projects,
  #contact {
    margin: 20px;
  }
}